@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

.starry-bg {
  background-color: #111111;
  background-image: radial-gradient(white, rgba(255,255,255,.2) 1px, transparent 1px),
                    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 1px),
                    radial-gradient(white, rgba(255,255,255,.1) 1px, transparent 1px),
                    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 1px, transparent 1px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}